.nav-menù {
    position: fixed;
    width: 15%;
    height: 100%; 
    z-index: 70;
    background-color: #fff;
    left: 0;
    top: 0;
    border-right: 0.1px solid #808080;
 }
 
.ul-menù{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-list{
    list-style-type: none;
    padding: 3% 3%;
    border-bottom: 0.1px solid grey;
    width: fit-content;
    font-size: 18px;

}

.item-list:visited {
    text-decoration: none;
    color: black;
}

.container-articoli3 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.img-chiusuraMenù {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 768px) {
  
    .nav-menù {
        width:100%
    }

    .ul-menù {
        padding: 2% 0px;
    }

    .item-list{
        text-decoration: none;
        color: black;
    }

}