.menù-container {

    display: flex;
    justify-content: space-between;

}

.img-logo2 {
    width: 90%;
    height: fit-content;
    margin-top: 18%;
    padding: 2% 5%;
}

.icon-container {

    display: flex;
    padding: 4px 0px;

}

.icon {

    margin-right: 18px;

}

.SearchBar {
    visibility: hidden;
    width: 150px;
    height: 30px;
}

.button-menù {

    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    border: 0px solid black;
    color: white;
    margin: 0px 8px;
    background-color: #508AA8;
    transition: all 0.6s ease 0s;
    font-size: 11px;
    height: auto;

}

.button-menù:hover {

    background-color: /*#9DD1F1*/ /*#C8E0F4*/ /*#98838F*/ #89A6FB ;

}

.link-item {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .menù-container {
        width: auto;
    }
    .link-item {
        text-decoration: none;
        color: black;
    }
    
}