a {
  text-decoration: none;
  color: #1c1c1c;
}

.App
{
    margin: auto;
    padding: 0 1%;
    max-width: 1200px;
}

.split-view-container {

    display: flex;
    flex-direction: column;

}

.split1 {

width: 100%;
border-bottom: 0.1px grey solid;

}

.split1-container {

    display: flex;
    justify-content: space-between;
    width: 100%;

}

.subSplit1 {

    display: flex;
    flex-direction: column;
    width:400px;

}


.subSplit3 {

    width: 300px;

}

.split2-container {

    display: flex;

}

.split2{

    width:30%;

}

.img-main2 {

    padding: 4% 9%;

}

.Article-Container {

    margin-top: 5%;
    border-bottom: 0.1px solid grey;

}

.menùMobile-APP {
    display: none;
}

.crypto-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .menùDesktop {
    display: none;
  }

  .menùMobile-APP {
    display: block;
  }

  .subsplit3 {
    display: none;
  }

  .split2{
    display: none;
  }

  .split2-container {

    display: flex;
    flex-direction: column;

  }

  .crypto-mobile {
    display: block;
  }

}